.home-content {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background: #ffffff;
    padding: 10px 0;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 30s linear infinite; /* Ajusta este valor para cambiar la velocidad */
    font-family: 'Times New Roman', serif; /* Cambia el tipo de letra a serif */
    font-size: 18px; /* Ajusta el tamaño de la fuente aquí */
    color: #000; /* Cambia el color del texto aquí */
}

@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}