body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #fff;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 20px auto;
    color: #000000;
    font-family: 'Times New Roman', serif;
    z-index: 1000;  
    position: relative; 
    overflow: visible;
    transition: min-height 0.3s ease;
    min-height: 18vh; /* Tamaño mínimo por defecto */
}

.left-content {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 20px;
    margin-right: 70px;
}

.navbar-logo {
    width: 60px;
    height: 60px;
    margin-right: 25px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000; 
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #000000; 
    min-width: 270px;
    max-width: 370px;
    margin: 20px auto;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 100%;
    overflow: visible;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    overflow: visible;
}

nav ul li {
    margin: 0 5px;
    position: relative;
    overflow: visible;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 25px;
    background-color: #000000;
    border: 1px solid #000000;
    transition: all 0.3s ease;
    font-size: 15px;
    position: relative;
    overflow: hidden;
}

nav ul li a:hover {
    background-color: #293854;
    border: 3px solid #293854;
    color: #fff;
}

nav ul li a.active {
    background-color: #ffffff;
    color: #000000;
    border: 4px solid #ffffff;
}

.content-section {
    transition: transform 0.5s ease-in-out;
}

.slide-in {
    transform: translateX(0%);
}

.slide-out {
    transform: translateX(100%);
}

.hidden {
    visibility: hidden;
}

nav ul li a.disabled {
    pointer-events: none;
    cursor: default;
}

.dropdown {
    position: relative;
    display: inline-block;
    overflow: visible;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    max-height: 200px; 
    z-index: 1001;
    overflow-y: auto;  
    border-radius: 4px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    overflow: visible;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #293854;
    color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
    height: auto;
    overflow: visible;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar-container {
        min-height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 80px;
    }

    .left-content {
        justify-content: center;
        margin: 0;
        margin-bottom: 5px;
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin: 0;
        padding: 0;
        justify-content: center;
        border-radius: 15px;
        height: 30px;
        max-height: 35px;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        margin: 0 5px;
    }

    nav ul li a {
        padding: 5px 10px;
        border-radius: 15px;
    }

    .dropdown-content a {
        border-radius: 0px;
    }
}
