body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

.content-section {
    transition: transform 0.5s ease-in-out;
}

.slide-in {
    transform: translateX(0%);
}

.slide-out {
    transform: translateX(100%);
}

.hidden {
    visibility: hidden;
}

.scv-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    padding-left: 30px; /* Espacio desde la izquierda */
    margin: 20px 0;
}

.scv {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    padding-left: 160px;
    margin-right: 20px; /* Espacio entre el título y los botones */
}

.style-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 23%;
    background-color: #4CAF50;
    padding: 10px 10px;
    border-radius: 25px;
    margin: 10px 30px;
    width: auto;
    max-width: 285px;
    flex-wrap: wrap;
}

.style-buttons button {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #000000;
    border: 1px solid #000000;
    transition: all 0.3s ease;
    font-size: 15px;
    margin: 0 5px;
    border-radius: 18px;
    margin: 5px;
}

.style-buttons button:hover {
    background-color: #293854;
    border: 1px solid #293854;
    color: #fff;
}

.style-buttons button.active {
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #ffffff;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    color: #000000;
    
}

.sidebar {
    background-color: #293854;
    color: #ffffff;
    width: 35%;
    padding: 20px;
    text-align: center;
}

.photo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.sidebar h1 {
    margin-top: 20px;
}

.sidebar p {
    font-size: 1.2em;
    margin-top: -10px;
}

.contact, .education, .languages {
    margin-top: 20px;
    text-align: left;
}

.contact ul, .languages ul {
    list-style-type: none;
    padding: 0;
}

.contact ul li, .languages ul li {
    margin: 10px 0;
}

.contact ul li::before {
    content: "•";
    margin-right: 10px;
    color: #fff;
}

.edu-item h3, .edu-item p {
    margin: 5px 0;
}

.content {
    width: 65%;
    padding: 20px;
    background-color: #fff;
}

.content section {
    margin-bottom: 20px;
}

.content h2 {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    margin: 0 -20px 20px -20px;
}

.job h3, .job p {
    margin: 5px 0;
}

.skills ul {
    list-style-type: none;
    padding: 0;
    max-width: 300px;
}

.skills ul li {
    background-color: #C9C9C9;
    color: #000000;
    margin: 5px 0;
    padding: 10px;
    border-radius: 25px;
    padding-left: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

.slide-out-down {
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
}

.slide-in-up {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

.hidden {
    visibility: hidden;
}

/* Para pantallas de 768px o menos (tablets y móviles) */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Cambia la disposición a una sola columna */
    }

    .sidebar {
        width: 100%; /* Sidebar ocupa todo el ancho */
        text-align: center; /* Centrar el texto */
    }

    .content {
        width: 100%; /* El contenido principal ocupa todo el ancho */
    }

    .style-buttons {
        width: 100%; /* La barra de botones ocupa todo el ancho */
        justify-content: center; /* Centramos los botones */
    }

    .style-buttons button {
        margin: 5px; /* Espaciado más ajustado para pantallas pequeñas */
    }

    .scv-container {
        flex-direction: column; /* Coloca el título y los botones en columnas */
        align-items: center; /* Centra el contenido */
    }

    .scv {
        margin-bottom: 10px; /* Espacio entre el título y los botones en móviles */
        text-align: left; /* Centrar el texto */

    }

    .content h2 {
        margin: 0;
        text-align: center; /* Alinear el título del contenido */
    }
}